<!-- ユーザーの詳細 -->
<%= render 'books/info', user: @user %>

<!-- 新規投稿画面 -->
<%= render 'books/newform', book: @book_new %>

 <h2>Users</h2>
<% @users.each do |user| %>
<div>
  <p>image <%= image_tag user.get_profile_image(100,100) %></p>
  <p>name <%= user.name %></p>
  <%= link_to user_path(user.id) do %>
  <p>Show</p>
  <% end %>
</div>
<% end %>
