<!-- ユーザーの詳細 -->
<h2>User info</h2>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h4>name <%= @user.name %></h4>
  <h4>introduction <%= @user.introduction %></h4>
  <% if @user == current_user %>
  <p><%= link_to "User info", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <%= link_to book_path(book.id) do %>
  <p>Title：<%= book.title %></p>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
