<!-- ユーザーの詳細 -->
<%= render 'info', user: @user %>

<!-- 新規投稿画面 -->
<%= render 'newform', book: @book %>

<div>
  <h2>Book detail</h2>
  <%= link_to book_path(@book.id) do %>
  <p>Title：<%= @book.title %></p>
  <% end %>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <%= link_to user_path(@user) do %>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>